.dropbtn {
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 10, 25, var(--tw-bg-opacity));
    min-width: 150px;
    z-index: 1;
    border-radius: 10px;
  }
  .dropdown-content a {
    color: white;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    font-size: small;
    text-align: center;
  }
  .dropdown-content a:hover {background-color: rgba(156, 163, 175, var(--tw-bg-opacity));color: aliceblue;}    

  .dropdown:hover .dropdown-content {
    display: block;
  }